@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  /* --cell-width: 116px;
  --cell-height: 100px; */
  --cell-height: calc((100vh - 6rem) / 8.5);
  /* 8.5 may need to be changed dynamically, based on map size */
  --cell-width: calc(var(--cell-height) * 1.1547); /* hex aspect ratio */
  --cell-gap-x: 4px;
  --cell-gap-y: 3px;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proza Libre", sans-serif;
}
body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "map interface";
  column-gap: 3rem;
  row-gap: 1rem;
  position: relative;
}
header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
}
main {
  grid-area: map;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  border-right: 1px dotted #000;
  padding-right: 2rem;
}
aside {
  grid-area: interface;
}
.addCells {
  margin: 1rem;
}
#addRowUp,
#addRowDown {
  grid-column: 1/4;
  justify-self: center;
}
#addColLeft,
#addColRight {
  align-self: center;
}
h1,
h2 {
  font-family: "Marcellus SC", serif;
}
h2 {
  margin-bottom: 1rem;
}
#map {
  display: flex;
  flex-wrap: nowrap;
  /* overflow: auto; */
}
.column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.hex {
  width: var(--cell-width);
  height: var(--cell-height);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #f0f0f0;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.column:nth-of-type(even) {
  margin-top: calc((var(--cell-height) + var(--cell-gap-y)) / 2);
}

.column + .column {
  margin-left: calc(-1 * var(--cell-width) * 0.267 + var(--cell-gap-x));
  /* *0.27 for no space between */
}
.column .hex:not(:first-of-type) {
  margin-top: var(--cell-gap-y);
}
form {
  margin-top: 1rem;
}
label {
  padding: 0.33rem 0.67rem;
}
input,
select,
textarea {
  border: 1px solid #ccc;
  padding: 0.33rem 0.67rem;
  font-size: 16px;
  width: 100%;
}
form#formEditCell {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  justify-items: start;
  margin-right: 2rem;
}
form#formEditCell h2 {
  grid-column: 1 / 3;
}
input#cellID {
  width: 120px;
}
form#formEditCell textarea {
  height: 25vh;
}
form + form {
  margin-top: 2rem;
}
button {
  padding: 0.67rem 1.33rem;
  cursor: pointer;
  background-color: #a1887f;
  box-shadow: 4px 4px #ccc;
}
button:hover {
  background-color: #bcaaa4;
  box-shadow: 4px 4px #ddd;
}
button + button {
  margin-left: 0.67rem;
}
figure.edit {
  background-color: #444;
  color: #fff;
}
.add {
  background-color: #f9f9f9;
  font-size: 1.5rem;
}

/* COLORS */

.city {
  background-color: #e8e3c8;
}
.forest {
  background-color: #607849;
  color: rgba(255, 255, 255, 0.85);
}
.grass {
  background-color: #b0bba1;
}
.hills {
  background-color: #ab9988;
}
.mountains {
  background-color: #7a614a;
  color: rgba(255, 255, 255, 0.85);
}
.steppe {
  background-color: #ccbfb2;
}
.swamp {
  background-color: #8d9e7c;
}
.water {
  background-color: #5e7784;
}
.capitol {
  background-color: #b75534;
}
.hex em {
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Marcellus SC", serif;
}
.capitol em {
  border-bottom: 2px solid #222;
}

.coords {
  position: absolute;
  top: 8px;
  color: rgba(0, 0, 0, 0.33);
}

/* ---------- OVERLAY ---------- */
.hidden {
  display: none !important;
}
#overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#overlay a {
  background-color: #fff;
  padding: 0.5rem 1rem;
}
#overlay textarea {
  width: 61.8%;
  height: 61.8%;
}
#notesOverlay {
  position: absolute;
  display: none;
  width: 40ch;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 15;
  padding: 1.67rem;
  color: #f8f8f8;
  text-shadow: 1px 1px 0 #000;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #333;
  line-height: 1.4;
}

#notesOverlay h3,
#notesOverlay em {
  font-family: "Marcellus SC", serif;
  letter-spacing: 2px;
  margin: -0.25em 0 0.5em 0;
  font-size: 1.33rem;
}
#notesOverlay em {
  font-style: normal;
}
